.member-list-labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 3fr;
  margin: 2rem 0 .75rem 0;
}

.member-list-labels > h3 {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(49, 49, 49);
}

.member-list {
  box-shadow: 0 15px 35px 0 rgb(238, 238, 238);
  background: rgb(240, 240, 240);
}

.member-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 3fr;
  padding: .5rem;
  margin-bottom: 1px;
  background: rgb(255, 255, 255);
  font-size: .8rem;
  color: rgb(49, 49, 49)
}