.search {
    display: flex;
    width: 50%;
    align-items: center;
  }
  
  .search input {
    display: flex;
    border: none;
    transition: all 200ms ease;
    margin: 0;
  }
  
  .search input:focus {
    outline: none;
  }